
/* styling header */
header {
    background: url(images/aerialView.jpg) 0 -200px no-repeat;
    background-size: 1500px;
    height: 400px;
    padding-top: 100px;
    padding-left: 100px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
li {
    list-style-type: none;
    display: inline;
    padding: 0 20px;
}
li a {
    text-decoration: none;
}
li a:link {
    color: #000;
}
li a:visited {
color: #818db3;
}
li a:hover {
    color: #333;
}
li a:active {
    color:#753a30;
}
nav {
    background-color: rgb(234, 213, 203);
    height: 50px;
    text-align: left;
    padding: 2px;
}
/* syling main page*/
main {
    height: 300px;
}
main h1 {
    color: rgb(129, 141, 179);
    font-family: Arial, Helvetica, sans-serif;
}

/*styling footer */
footer {
    height: 40px;
    background-color: rgb(129, 141, 179);
    text-align: center;
    padding-top: 20px;
    color: rgb(211, 218, 240);
}
