
/* styling header */
#wrapper {
    margin: 0 110px;
}
header {
    width: 100%;
    min-height: 400px;
    padding: 3em;
    position: relative;
}
#home header {
    background: no-repeat lightgrey url(images/nz1383-1.jpg);
    background-size: cover;
}
#about header {
    background: no-repeat url(images/pexels-kyleroxas-v3.jpg) ;
    background-size: cover;
}
#contact header {
    background: no-repeat url(images/pexels-pixabay-37650.jpg) 0 -200px;
    background-size: cover;
}
header h1 {
    color: #fff;
    margin: 20px;
    padding: 10px 40px 10px;
    position: absolute;
    bottom: 2px;
    background-color:rgba(13, 13, 13, 0.4);
    border-radius: 40px;
    border: 1px solid rgb(129, 141, 179);
}
header .main-menu {
    /* list-style-type: none; */
    margin: 0px;
    padding: 0 20px;
}

.main-menu ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid rgb(202, 204, 202, 0.8);
    line-height: 50px;
    text-transform: capitalize;
    font-size: x-large;
    font: bolder;
    background-color:rgba(230, 232, 239, 0.8);
    border-radius: 20px;
    width: 60px;
 }

.main-menu li a {
    text-decoration: none;
    color: #888;
}
.main-menu ul li a:hover {
    color: #9ed034;
}
.main-menu ul li.active {
    background:#9ed034;
    border: none;
}
.main-menu ul li .active a {
    color:#fff;
}

p {
    margin-top: 0;
}
#wrapper .the-board p {
    margin: 20px 0;
}

/* syling main page*/
main {
    height: 300px;
}

.our-contact {
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.our-contact li{
    list-style-type: none;
    margin-block: 5px;
    margin-left: 20px;
}
.our-contact .first-word{
font-weight:bolder;
}

.sub-topic h4, .sub-topic ul{
    margin: 0px;
}
/* styling table */
section .table-of-mayors{
    display: flex;
    justify-content: center;

}

table {
    margin: 20px;
}
table, caption, th, td {
    border: 1px solid #000;
}

th, td {
    width: 250px;
    height: 35px;
    text-align: center;
}
caption {
    text-transform: uppercase;
    font-weight: 600;
    height: 40px;
    padding-top: 15px;
    color: #753a30;
}
section .sub-topic-image{
    display: flex;
    align-items: center;
    flex-direction: column;
}
section .sub-topic-image a{
    text-decoration: none;
}
section .sub-topic-image img{
    border: 1px solid rgb(129, 141, 179);
}

 .to-top {
    width: 120px;
    align-content: center;
    padding: 10px;
    margin: 5px;
    font: bolder;
    background-color:rgb(211, 218, 240, 0.4);
    border-radius: 40px;
    border: 1px solid rgb(129, 141, 179);
}

.to-top a {
    text-decoration: none;
}
section #video{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
section #video a{
    text-decoration: none;
}
iframe {
    border: 1px solid black;
  }
hr {
    margin-top: 20px;
}
.a-list {
    list-style-type: lower-alpha;
}
.b-list {
    list-style-type: lower-roman;
}


/*styling form */
label {
    display: block;
    margin: 15px 0 0
}
input, textarea {
    width: 400px;
}
input[type="radio"] {
    width: 25px;
}
input[type="submit"]{
    display:block;
    margin: 20px 0 10px 0;
    width: 100px;
    background-color: #ca4c36;
    border: 0px;
    color: white;
    padding: 5px;
    font-weight: 600;
    border-radius: 10px;
}
.button {
    width: 400px;
    display: flex;
    justify-content: flex-end;
}


input:focus{
    background-color: rgb(217, 219, 227);
}

/*styling footer */
footer {
    height: 50px;
    background-color: rgb(87, 87, 89);
    padding-top: 20px;
    color: rgb(211, 218, 240);
    display: flex;
}
footer p {
    text-align: center;
}
footer #disclaimer .social {
text-align: center;
display: flex;
align-self: center;
}
footer #disclaimer .social .fa {
    text-decoration: none;
    padding: 15px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    border-radius: 50%;
}

footer #disclaimer .social .fa:hover {
    opacity: 0.7;
}
footer #disclaimer .social .fa-facebook {
    background: #3B5998;
    color: white;
}
footer #disclaimer .social .fa-instagram {
    background: #125688;
    color: white;
}
footer #disclaimer .social .fa-twitter {
    background: #55ACEE;
    color: white;
}